html {
    scroll-behavior: smooth;
    --scrollbarBG: white;
    --thumbBG: #90A4AE;
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    background: rgb(0, 0, 0);
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    background-image: url("joinus.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

::selection {
    color: rgb(18, 200, 255);
    background: none;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #000000cc;
    border: none;
}

.navbar-toggle {
    border: none;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-brand {
    font-family: 'Horizon', sans-serif;
    font-size: 28px;
    color: white;
}

.navbar-nav li a {
    transition: .3s;
    color: rgb(243, 243, 243);
    font-family: 'Roboto Mono Light', sans-serif;
}

.navbar-nav li a:hover {
    color: white;
    border-radius: 11px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.subex-collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.subex-collage img {
    width: 1000px;
    height: 500px;
    object-fit: cover;
    border: 2px solid rgb(198, 188, 188);
}

.activities-collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.activities-collage img {
    width: 1000px;
    height: 500px;
    object-fit: cover;
    border: 2px solid rgb(198, 188, 188);
}

.slider-container {
    position: relative;
}

.slider-images {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slider-images img {
    width: 100%;
    scroll-snap-align: center;
}

.slider-controls {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    justify-content: space-between;
}

.slider-control {
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    padding: 8px 16px;
    border-radius: 50%;
}

.slider-control-back {
    transform: rotate(180deg);
}

.small-image1 {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 250px;
    border: black;
    transform: translateX(-50%);
    border-radius: none;
    transition: .5s;
}

.small-image1:hover {
    width: 300px;
}

.small-image2 {
    position: absolute;
    top: 55%;
    left: 30%;
    width: 250px;
    border: black;
    transform: translateY(-50%);
    border-radius: none;
    margin-left: 500px;
    transition: .5s;
}

.small-image2:hover {
    width: 300px;
}

.small-image3 {
    position: absolute;
    top: 55%;
    right: 30%;
    width: 250px;
    border: black;
    transform: translateY(-50%);
    border-radius: none;
    margin-right: 500px;
    transition: .5s;
}

.small-image3:hover {
    width: 300px;
}

.dev-title {
    animation: color-change 2s infinite;
}

@keyframes color-change {
    0% { color: yellow; }
    50% { color: white; }
    100% { color: yellow; }
}

/* Mobile-specific styles */
@media screen and (max-width: 600px) {

    .welcome {
        font-size: 35px;
        font-family: 'Roboto Mono Light', monospace;
        transition: .5s;
    }

    .welcome:hover {
        font-size: 60px;
    }

    body {
        background-image: url("joinusmob.png"); /* Replace with your mobile-specific image */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    #welcome-paragraph {
        color: rgb(255, 255, 255); /* change to your desired color */
        font-family: "Roboto Mono Thin", sans-serif; /* change to your desired font */
        font-size: 12.3px;
    }

    .pad {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-color: transparent;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-container img {
        margin: 10px;
        height: 50px;
    }

    .photo-collage {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .photo-collage img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 2px solid rgb(198, 188, 188);
    }

    .skills-collage {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .skills-collage img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border: 2px solid rgb(6, 5, 5);
    }

    .subex-collage img {
        width: 400px;
        height: 200px;
        object-fit: cover;
        border: 2px solid rgb(198, 188, 188);
    }

    .activities-collage img {
        width: 400px;
        height: 200px;
        object-fit: cover;
        border: 2px solid rgb(198, 188, 188);
    }
}
